<!DOCTYPE html>
<html lang=""en>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
    <title>Mercado Liebre</title>
</head>
<body>
    <header class="header">

        <div class="logo-busqueda-eslogan">
            <div class="logo-busqueda">
                <div class="logo-header">
                    <img src="/images/logo-mercado-liebre.svg" alt="logo">
                </div>
                <div class="header-busqueda">
                    <div class="barra-busqueda">
                     <input class="busqueda" placeholder="buscar productos, marcas"> <i class="fas fa-search"></i>
                </div>
            </div>
            </div>
            <div class="eslogan">
               <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
        </div>
            <nav class="links">
            <ul class="nav-bar1">
                <li><a href="/">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul >
            <ul class="nav-bar2">
                <li><a href="/registro">Creá tu cuenta <i class="fas fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
            </nav>

        <div>
            <section class="burger-menu">
                <i class="fas fa-bars"></i>    
            </section>
        </div>
        
    </header>

        <div><img class="banner" src="/images/img-home-banner.jpg" alt="Home Banner"></div>

    <main class="main">
       
    <section class="seccion-articulos">
        <div class="titulo-main">
             <h2 class="main-titulo">Basado en tu última visita</h2>
        </div>
            <article class="articulo">
                <img class="art-img" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                <div class="articulos-info">
                    <div class="camion-entrega">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="precio-descuento">
                        <div class="precio">$6.770</div>
                        <div class="descuento">40% OFF</div>
                    </div>
                        <div class="descripcion">Cafetera Moulinex</div>
                </div>
                </article>

            <article class="articulo">
                <img class="art-img" src="/images/img-macbook-pro-2019.jpg" alt="Macbook Pro 2019">
                <div class="articulos-info">
                    <div class="camion-entrega">
                        <i class="fas fa-truck camion"></i>
                    </div>
                    <div class="precio-descuento">
                        <div class="precio">$230.000</div>
                        <div class="descuento">20% OFF</div>
                    </div>
                        <div class="descripcion">Macbook Pro 2019</div>
                </div>
                </article>

            <article class="articulo">
                <img class="art-img" src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy s10">
                <div class="articulos-info">
                    <div class="camion-entrega">
                        <i class="fas fa-truck"></i>
                    </div>   
                    <div class="precio-descuento">
                        <div class="precio">$70.500</div>
                        <div class="descuento">10% OFF</div>
                    </div>
                        <div class="descripcion">Samsung Galaxy s10</div>
                </div>
                </article>

            <article class="articulo">
                <img class="art-img" src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43">
                <div class="articulos-info">
                    <div class="camion-entrega">
                        <i class="fas fa-truck camion"></i>
                    </div>
                    <div class="precio-descuento">
                        <div class="precio">$23.200</div>
                        <div class="descuento">5% OFF</div>
                    </div>
                        <div class="descripcion">SmartTv Samsung 43</div>
                </div>
                </article>
        </section>

        <section class="seccion-ofertas">
            <div class="titulo-main">
                <h2 class="main-titulo">Ofertas</h2>
            </div>
            <article class="oferta">
                <img class="art-img" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                <div class="articulos-info">
                    <div class="camion-entrega">
                        <i class="fas fa-truck camion"></i>
                    </div>
                    <div class="precio-descuento">
                        <div class="precio">$6.770</div>
                        <div class="descuento">40% OFF</div>
                    </div>
                        <div class="descripcion">Cafetera Moulinex</div>
                </div>
                </article>

            <article class="oferta">
                <img class="art-img" src="/images/img-macbook-pro-2019.jpg" alt="Macbook Pro 2019">
                <div class="articulos-info">
                    <div class="camion-entrega">
                        <i class="fas fa-truck camion"></i>
                    </div>
                    <div class="precio-descuento">
                        <div class="precio">$230.000</div>
                        <div class="descuento">20% OFF</div>
                    </div>
                        <div class="descripcion">Macbook Pro 2019</div>
                </div>
                </article>
    
            <article class="oferta">
                <img class="art-img" src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy s10">
                <div class="articulos-info">
                    <div class="camion-entrega">
                        <i class="fas fa-truck camion"></i>
                    </div>
                    <div class="precio-descuento">
                        <div class="precio">$70.500</div>
                        <div class="descuento">10% OFF</div>
                    </div>
                        <div class="descripcion">Samsung Galaxy s10</div>
                </div>
                </article>
    
            <article class="oferta">
                <img class="art-img" src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43">
                <div class="articulos-info">
                    <div class="camion-entrega">
                        <i class="fas fa-truck camion"></i>
                    </div>
                    <div class="precio-descuento">
                        <div class="precio">$23.200</div>
                        <div class="descuento">5% OFF</div>
                    </div>
                    <div class="descripcion">SmartTv Samsung 43</div>
                    </div>
                </article>
        </section>
    </main>
        <br>
    <footer class="footer">
        <div class="footer-contenido">
            <article>
                <i class="fas fa-credit-card icono-footer"></i>
                <h3 class="pago">Pagá con tarjeta o en efectivo</h3>
                <p>
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en <br>
                puntos de pago. ¡Y siempre es seguro!
                </p>
            </article>
            <article>
                <i class="fas fa-gift icono-footer"></i>
                <h3 class="envio">Envío gratis desde $ 2.500</h3>
                <p>
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de <br>
                productos. Es un beneficio de Mercado Puntos.
                </p>
            </article>
            <article>
                <i class="fas fa-user-shield icono-footer"></i>
                <h3 class="seguridad">Seguridad, de principio a fin</h3>
                <p>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, <br>
                porque estás siempre protegid@.
                </p>
            </article>
        </div>

        <div id="copyright" class="bg-white">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>

    </footer>
</body>


</html>